<p id="notice"><%= notice %></p>

<h1>Loguploads</h1>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Filename</th>
      <th>Filelocation</th>
      <th>Date</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loguploads.each do |logupload| %>
      <tr>
        <td><%= logupload.identifier %></td>
        <td><%= logupload.filename %></td>
        <td><%= logupload.filelocation %></td>
        <td><%= logupload.date %></td>
        <td><%= logupload.version %></td>
        <td><%= link_to 'Show', logupload %></td>
        <td><%= link_to 'Edit', edit_logupload_path(logupload) %></td>
        <td><%= link_to 'Destroy', logupload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Logupload', new_logupload_path %>
