<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @datum.identifier %>
</p>

<p>
  <strong>Rownumber:</strong>
  <%= @datum.rownumber %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @datum.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @datum.email %>
</p>

<p>
  <strong>First:</strong>
  <%= @datum.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @datum.last %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
